

<ul>
  <li>
  <span>Author</span>
  <span><%= @post.user.account%></span>
  </li>
  <li>
  <span>看板</span>
  <span><%= @post.board.title%></span>
  </li>
  <li>
  <span>Title</span>
  <span><%= @post.title%></span>
  </li>
  <li>
  <span>Time</span>
  <span><%= @post.created_at%></span>
  </li>
</ul>






<h1><%= @post.title %></h1>
<h2><%= @post.content %></h2>